:root {
  --color-white: #FFF;
  --color-black: #000;
  --foundation-violet-light: #ebebec;
  --foundation-violet-light-hover: #e1e0e2;
  --foundation-violet-light-active: #c2c0c3;
  --foundation-violet-normal: #39333d;
  --foundation-purple-light: #f7f7f7;
  --purple-hover: #f4f3f4;
  --purple-normal: #b3adb3;
  --foundation-purple-dark-active: #514e51;
  --purple-darker: #3f3d3f;
  --red-light: #fcf9f7;
  --red-normal: #f4ebe5;
  --red-normal-hover: #dcd4ce;
  --peach-light: #f9f3f2;
  --peach-light-active: #ecdbd8;
  --foundation-peach-normal: #c18b81;
  --peach-dark-active: #573f3a;
  --foundation-blue-darker: #081225;

}