
.hero{
  .hero__title{
    color: var(--color-white);
  }
  .container{
    position: relative;
  }
  margin-bottom: 100px;
}
.hero__button{
  color: var(--color-white);
  border-color: var(--color-white);
}
.hero__button:hover{
  border-color: var(--foundation-violet-normal);
}
.hero__content{
  width: 550px;
  .hero__title{
    margin-bottom: 40px;
    margin-top: 0;
  }
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 10;
}
.swiper-pagination-current{
color: var(--color-white);
}
.swiper-pagination-fraction{
  color: var(--foundation-violet-light-active) !important;
}
.swiper-pagination{
  .swiper-pagination-total{
    color: var(--foundation-violet-light-active);
  }
  text-align: left !important;
  padding: 0 15px;
  padding-left: 100px;
margin-bottom: 83px;
bottom: 0 !important;
font-size: 18px;
font-family: "Roboto";
font-style: normal;
font-weight: 400;
line-height: 27px;
}
.swiper-scrollbar{
  bottom: 64px !important;
  left: 100px !important;
  max-width: 140px;
  height: 3px;
  background: var(--foundation-violet-light-active) !important;
  &-drag{
    background: var(--color-white) !important;
  }
}

.swiper-container{
  overflow: hidden;
  .swiper-wrapper{
    .item1 {
      min-width: 100%;min-height: 550px;
      background: url("../IMG/bigImg/HeroImg.jpg") no-repeat;
      background-size: cover;
      border-radius: 16px;
    }
  }
}